.test {
  margin: var(--gap-xl);
  padding-top: var(--gap-xs);
  padding: 12px;
  margin-left: 12px 16px 20px 15px;
  /* stylelint-disable-next-line arui-cssvars/use-variables */
  margin-right: 20px;
}

.test-multiple {
  margin: 8px 16px 4px 8px;
  padding: 8px 16px 4px 32px;
  font-size: 16px;
}

.test-triple {
  margin: 8px 4px -16px;
  padding: 32px 0 0px 16px;
  font-size: 16px;
}

.test-negative {
  margin: -8px 4px -16px -32px;
  padding: -32px 0 0px 16px;
}
